body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: darkslateblue;
    color: white;

}

.container {
    text-align: left;

    background-color: white;
    color: black;


    max-width: 800px;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
}

p {
    text-align: center;
}

form > div {
    margin: 0.25rem 0 0.25rem;
    vertical-align: top;
}

label {
    display: inline-block;
}

label:not(.radio-label) {
    width: 50%;
    text-align: right;
}

ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}

ul li {
    padding: 0.25rem;
}

input.field,
select {
    border: 1px solid grey;
    border-radius: 2px;

    padding: 0.25rem;
    height: 1.5rem;
    margin: 0.5rem;
}

select {
    height: 2rem;
    
}



@media (max-width: 460px) {
    label {
        text-align: left;
    }    
}
